<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://fb.me/react-0.11.2.js"></script>
    <script src="http://fb.me/JSXTransformer-0.11.2.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
</head>
<body>
    <div class="row" >
        <% parties.forEach(function(parties){ %>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="<%= parties.image %>" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><%= parties.name %></h5>
                  <p class="card-text" ><%= parties.dest %></p>
                  <p class="card-text"><%= parties.loc %>, Cost $<%= parties.cost %> </p>
                  <a href="<%= parties.web %>" class="btn btn-primary">Website</a>
                  <p class="card-text" style = "font-style: italic" >Create by <%= parties.authorLastName %>, <%= parties.authorFirstName %></p>
                </div>
              </div>
        <% }); %>
    </div>
    <div id = "content"></div>
    <script type="text/jsx" src="/javascripts/main.js"></script>

    <!--- Remember to clean up! Delete if you aren't using this -->
    <!-- <script type="text/babel"></script> -->
     <!-- <script src="/javascripts/main.js" async defer></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>